name: Pull Requests / Weekly QA

on:
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@e2f20e631ae6d7dd3b768f56a5d2af784dd54791
      - uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516
        with:
          node-version: 18

      - uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        id: cache
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        # if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts --no-audit --no-progress --prefer-offline
      - run: npm run test-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
