name: Pull Requests / Weekly QA

on:
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 6"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.3.0
        with:
          node-version: lts/*

      - uses: actions/cache@v4.2.3
        id: cache
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        # if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts --no-audit --no-progress --prefer-offline
      - run: npm run test-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
